<footer id="Footer" class="clearfix">
        <div class="container">
          <div class="row">
            <div class="col-md-4 mb-4">
              <p>
                CBD<br />Kimathi Street
                <br />Nairobi, Kenya
              </p>
            </div>
            <div class="col-md-4 mb-4">
              <h5>Contact with us</h5>
              <h5 class="themecolor">Tel: +254 (0) 3 8376 6284</h5>
              <h5 class="themecolor">Email: <a href="#">info@blackalbinism.com</a></h5>
            </div>
            <div class="col-md-4 mb-4">
              <div style="width: 100%; text-align: right">
                <a href="#">
                  <%= image_tag 'internet3-footer-icon1.png' %>
                </a>
                <a href="#">
                  <%= image_tag 'internet3-footer-icon2.png' %>
                </a>
                <a href="#">
                  <%= image_tag 'internet3-footer-icon3.png' %>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="footer_copy">
          <div class="container">
            <div class="column one">
              <a id="back_to_top" class="footer_button" href
                ><i class="icon-up-open-big"></i
              ></a>
              <div class="copyright">
                &copy; 2021 Blackalbinism - Made with love
              </div>
            </div>
          </div>
        </div>
      </footer>