<div id="Header_wrapper">
        <header id="Header">
          <div id="Top_bar">
            <div class="container">
              <div class="column one">
                <div class="top_bar_left clearfix">
                  <div class="logo">
                    <a
                      id="logo"
                      href="/"
                      title="BeInternet 3 - Betheme"
                      data-height="60"
                      data-padding="15"
                    >
                    <%= image_tag 'internet3.png',
                        class: "logo-main scale-with-grid",
                        alt: "internet3"
                    %>

                    <%= image_tag 'internet3.png',
                        class: "logo-sticky scale-with-grid",
                        alt: "internet3"
                    %>

                    <%= image_tag 'internet3.png',
                        class: "logo-mobile scale-with-grid",
                        alt: "internet3"
                    %>

                    <%= image_tag 'internet3.png',
                        class: "logo-mobile-sticky scale-with-grid",
                        alt: "internet3"
                    %>
                    </a>
                  </div>
                  <div class="menu_wrapper">
                    <nav id="menu">
                      <ul id="menu-main-menu" class="menu menu-main">
                        <li
                          class="current-menu-item page_item current_page_item"
                        >
                          <a href="/"><span>Home</span></a>
                        </li>
                        <li>
                          <a href="/pages/gallery"
                            ><span>Gallery</span></a
                          >
                        </li>
                        <li>
                          <a href="/pages/faq"
                            ><span>FAQ</span></a
                          >
                        </li>
                        <li>
                          <a href="/pages/contact"
                            ><span>Contact</span></a
                          >
                        </li>
                      </ul>
                    </nav>
                    <a class="responsive-menu-toggle" href="#"
                      ><i class="icon-menu-fine"></i
                    ></a>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
          <div class="mfn-main-slider mfn-rev-slider">
            <p class="rs-p-wp-fix"></p>
          </div>
        </header>
      </div>