			<div class="content_wrapper clearfix">
				<div class="sections_group">
					<div class="section mcb-section equal-height-wrap">
						<div class="container">
							<div class="row">
								<div class="col-md-8 two-third valign-top move-up" style="margin-top:--100px">
									<div class="mcb-wrap-inner">
										<div class="column_attr clearfix bg-cover" style="background-image:url('images/internet3-column-bg1.jpg');background-repeat:no-repeat;background-position:center;padding:160px 10% 120px 15%;border-radius: 61% 39% 44% 56% / 75% 53% 47% 25%;">
											<h2 style="color:#FFF;">Get in touch with us and upgrade your net.</h2>
										</div>
									</div>
								</div>
								<div class="col-md-4 valign-bottom clearfix">
									<div class="mcb-wrap-inner">
										<a href="images/internet3-faq-icon5.png" rel="prettyphoto">
											<div class="mask"></div>
											<%= image_tag 'internet3-faq-icon5.png',
											  class: "scale-with-grid",
											  width: "208", height: "198" %>
										</a>
									</div>
								</div>
								<div class="col-12">
									<hr class="no_line" style="margin:0 auto 40px">
								</div>
							</div>
						</div>
					</div>
					<div class="section mcb-section mobile_small_padding" style="padding-top:130px;padding-bottom:90px;background-color:#ffffff">
						<div class="container">
							<div class="row">
								<div class="col-12 text-center">
									<h3>Before you start asking questions <a class="themecolor" href="/pages/faq">see our FAQ</a></h3>
								</div>
								<div class="col-12">
									<hr class="no_line" style="margin:0 auto 60px">
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 mb-4 valign-top">
									<div class="row">
										<div class="col-md-9">
											<div class="column_attr clearfix">
												<h4>Opening hours</h4>
												<hr class="no_line" style="margin:0 auto 40px">
												<p style="color:#7f7f7f;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure</p>
												<hr class="no_line" style="margin:0 auto 40px">
											</div>
										</div>
										<div class="col-md-5 mb-4">
											<div class="opening_hours">
												<div class="opening_hours_wrapper">
													<ul>
														<li>
															<label>Monday - Friday</label><span>8<sup>00</sup> - 20<sup>00</sup></span>
														</li>
													</ul>
												</div>
											</div>
										</div>
										<div class="col-md-5 mb-4">
											<div class="opening_hours">
												<div class="opening_hours_wrapper">
													<ul>
														<li>
															<label>Saturday</label><span>10<sup>00</sup> - 16<sup>00</sup></span>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6 internet3-wrap1 valign-top" style="padding:50px 50px 0;background-color:#d5d4fa">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column one column_column">
											<div class="column_attr clearfix">
												<h3>Lorem ipsum dolor sit consectetur adipisicing</h3>
												<hr class="no_line" style="margin:0 auto 20px">
												<div id="contactWrapper">
													<form id="contactform">
														<!-- One Second (1/2) Column -->
														<div class="column one-second">
															<input placeholder="Your name" type="text" name="name" id="name" size="40" aria-required="true" aria-invalid="false" />
														</div>
														<!-- One Second (1/2) Column -->
														<div class="column one-second">
															<input placeholder="Your e-mail" type="email" name="email" id="email" size="40" aria-required="true" aria-invalid="false" />
														</div>
														<div class="column one">
															<input placeholder="Subject" type="text" name="subject" id="subject" size="40" aria-invalid="false" />
														</div>
														<div class="column one">
															<textarea placeholder="Message" name="body" id="body" style="width:100%;" rows="10" aria-invalid="false"></textarea>
														</div>
														<div class="column one">
															<input type="button" value="Send A Message" id="submit" onClick="return check_values();">
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="section mcb-section equal-height-wrap" style="padding-top:50px;padding-bottom:90px;background-color:#ffffff;background-image:url(images/internet3-section-bg2.jpg);background-repeat:no-repeat;background-position:center top">
						<div class="container">
							<div class="row">
								<div class="col-md-6 valign-middle">
									<div class="mcb-wrap-inner">
										<div class="col-12">
											<div class="column_attr clearfix" style="padding:0 5%;">
												<h6 class="internet3-heading2">TESTIMONIALS</h6>
											</div>
										</div>
										<div class="col-12">
											<div class="column_attr clearfix" style="background-image:url('images/internet3-testimonials-icon1.png');background-repeat:no-repeat;background-position:left top;padding:30px 5%;">
												<h4>Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</h4>
												<hr class="no_line" style="margin:0 auto 30px">
												<p class="themecolor">– Alicia McKanzey</p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6 valign-middle">
									<div class="mcb-wrap-inner">
										<%= image_tag 'internet3-testimonials-pic1.png',
										class: "scale-with-grid",
										alt: "internet3-testimonials-pic1",
										width: "780", height: "810" %>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="section mcb-section" style="background-color:#ffffff">
						<hr class="no_line" style="margin:0 auto 40px">
					</div>
				</div>
			</div>
