        <div class="content_wrapper clearfix">
          <div class="sections_group">
            <div
              class="section mcb-section bg-cover-ultrawide"
              style="
                padding-top: 130px;
                padding-bottom: 90px;
                background-image: url(images/internet3-section-bg6.png);
                background-repeat: no-repeat;
                background-position: center top;
              "
            >
              <div class="container">
                <div class="row">
                  <div class="col-md-6">
                    <h2>Lorem ipsum amet consectetur</h2>
                  </div>
                  <div class="col-12">
                    <hr class="no_line" style="margin: 0 auto 130px" />
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3 mb-4">
                    <h3 class="themecolor">
                      Sed ultrices nisl velit, eu ornare
                    </h3>
                  </div>
                  <div class="col-md-9">
                    <div class="faq">
                      <div class="mfn-acc faq_wrapper open1st">
                        <div class="question">
                          <div class="title">
                            <span class="num">1</span
                            ><i class="icon-plus acc-icon-plus"></i
                            ><i class="icon-minus acc-icon-minus"></i>Consetetur
                            sadipscing elitr, sed diam nonumy?
                          </div>
                          <div class="answer">
                            At vero eos et accusam et justo duo dolores et ea
                            rebum. Stet clita kasd gubergren, no sea takimata
                            sanctus est Lorem ipsum dolor sit amet. Duis autem
                            vel eum iriure dolor in hendrerit in vulputate velit
                            esse molestie consequat, vel illum dolore eu feugiat
                            nulla facilisis at vero eros et accumsan et iusto
                            odio dignissim qui blandit praesent luptatum zzril
                            delenit augue duis dolore te feugait nulla facilisi.
                          </div>
                        </div>
                        <div class="question">
                          <div class="title">
                            <span class="num">2</span
                            ><i class="icon-plus acc-icon-plus"></i
                            ><i class="icon-minus acc-icon-minus"></i>Eirmod
                            tempor invidunt ut labore?
                          </div>
                          <div class="answer">
                            Nam liber tempor cum soluta nobis eleifend option
                            congue nihil imperdiet doming id quod mazim placerat
                            facer possim assum. Lorem ipsum dolor sit amet,
                            consetetur sadipscing elitr, sed diam nonumy eirmod
                            tempor invidunt ut labore et dolore magna aliquyam
                            erat, sed diam voluptua. At vero eos et accusam et
                            justo duo dolores et ea rebum.
                          </div>
                        </div>
                        <div class="question">
                          <div class="title">
                            <span class="num">3</span
                            ><i class="icon-plus acc-icon-plus"></i
                            ><i class="icon-minus acc-icon-minus"></i>Veniam,
                            quis nostrud exerci tation?
                          </div>
                          <div class="answer">
                            Eirmod tempor invidunt ut labore et dolore magna
                            aliquyam erat, sed diam voluptua. Lorem ipsum dolor
                            sit amet, consectetuer adipiscing elit, sed diam
                            nonummy nibh euismod tincidunt ut laoreet dolore
                            magna aliquam erat volutpat. Ut wisi enim ad minim
                            ullamcorper suscipit lobortis nisl ut aliquip ex ea
                            commodo consequat. Nam liber tempor cum soluta nobis
                            eleifend option congue nihil imperdiet doming id
                            quod mazim placerat facer possim assum.
                          </div>
                        </div>
                        <div class="question">
                          <div class="title">
                            <span class="num">4</span
                            ><i class="icon-plus acc-icon-plus"></i
                            ><i class="icon-minus acc-icon-minus"></i>Vonsetetur
                            sadipscing elitr?
                          </div>
                          <div class="answer">
                            Sed diam nonumy eirmod tempor invidunt ut labore et
                            dolore magna aliquyam erat, sed diam voluptua. At
                            vero eos et accusam et justo duo dolores et ea
                            rebum. Stet clita kasd gubergren, no sea takimata
                            sanctus est Lorem ipsum dolor sit amet. Duis autem
                            vel eum iriure dolor in hendrerit in vulputate velit
                            esse molestie consequat, vel illum dolore eu feugiat
                            nulla facilisis at vero eros et accumsan et iusto
                            odio dignissim qui blandit praesent luptatum zzril
                            delenit augue duis dolore te feugait nulla facilisi.
                          </div>
                        </div>
                        <div class="question">
                          <div class="title">
                            <span class="num">5</span
                            ><i class="icon-plus acc-icon-plus"></i
                            ><i class="icon-minus acc-icon-minus"></i
                            >Ullamcorper suscipit lobortis?
                          </div>
                          <div class="answer">
                            Nisl ut aliquip ex ea commodo consequat. Nam liber
                            tempor cum soluta nobis eleifend option congue nihil
                            imperdiet doming id quod mazim placerat facer possim
                            assum. Lorem ipsum dolor sit amet, consetetur
                            sadipscing elitr, sed diam nonumy eirmod tempor
                            invidunt ut labore et dolore magna aliquyam erat,
                            sed diam voluptua.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <hr class="no_line" style="margin: 0 auto 90px" />
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <hr class="no_line" style="margin: 0 auto 90px" />
                  </div>
                </div>
              </div>
            </div>
            <div
              class="section mcb-section mobile_small_padding"
              style="padding-top: 130px; padding-bottom: 80px"
            >
              <div class="container">
                <div class="row">
                  <div class="col-md-2">
                    <div class="placeholder">&nbsp;</div>
                  </div>
                  <div class="col-md-8 text-center">
                    <h6 class="internet3-heading2">NEWSLETTER</h6>
                    <hr class="no_line" style="margin: 0 auto 10px" />
                    <h2>Want to be informed about our promotions?</h2>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <hr class="no_line" style="margin: 0 auto 80px" />
                  </div>
                </div>
                <div
                  class="row internet3-wrap1"
                  style="padding: 30px 30px 0; background-color: #d5d4fa"
                >
                  <div class="col-md-6 mb-4">
                    <%= image_tag 'internet3-contact-pic1.png',
                      class: "scale-with-grid",
                      style: "margin-top: -130px",
                      alt: "internet3-contact-pic1",
                      width: "780",
                      height: "810" %>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div
                      class="column_attr clearfix"
                      style="padding: 65px 40px 0px"
                    >
                      <form id="newsletterform">
                        <div class="row">
                          <div class="col-12 mb-4">
                            <input
                              type="text"
                              id="name_news"
                              name="name_news"
                              size="40"
                              aria-required="true"
                              aria-invalid="false"
                              placeholder="Your name"
                            />
                          </div>
                          <div class="col-12 mb-4">
                            <input
                              type="email"
                              id="email_news"
                              name="email_news"
                              size="40"
                              aria-required="true"
                              aria-invalid="false"
                              placeholder="Your email"
                            />
                          </div>
                          <div class="col-12">
                            <input
                              type="button"
                              value="Send Message"
                              id="submit"
                              onClick="return check_values_news();"
                            />
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
